.header_circle {
  background-color: var(--background);

  min-width: 350px;
  min-height: 350px;

  margin-top: 2vh;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  cursor: pointer;
}

.header_circle:hover {
  background-color: var(--background_hover);
}

#fun_facts > h1,
.fast_fact_container,
.next_button {
  transition: opacity 1.5s;
}

.fast_fact_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

}

.fact_card {
  opacity: 0;
  transition: all 300ms;
}

.fast_fact_container .fact_card:nth-child(odd) {
  transition-delay: 300ms;
}

.fast_fact_container .fact_card:nth-child(even) {
  transition-delay: 600ms;
}

.next_button {
  position: relative;
  top: 3vh;

  width: 15vw;
  height: 5vh;

  background-color: var(--background);

  display: flex;
  align-items: center;
  justify-content: center;
}

.next_button:hover {
  background-color: var(--background_hover);
}

.about_section_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 100vw;
  padding: 5vh 5vw;

  transition: opacity 1s;
}
