#back_to_home {
  position: fixed;
  top: 21px;
  left: 20px;

  width: 8vw;
  height: 5vh;

  min-width: 150px;
  min-height: 40px;

  background-color: var(--background);

  display: flex;
  flex-direction: row;
  align-items: center;

  cursor: pointer;
  z-index: 9999;
}

.back_text {
  margin-left: 1rem;
}

#back_to_home:hover {
  background-color: var(--background_hover);
}
