#back_to_top {
  position: fixed;
  bottom: 20px;
  left: 20px;

  width: 10vw;
  height: 5vh;

  min-width: 180px;
  min-height: 40px;

  background-color: var(--background);

  display: flex;
  flex-direction: row;
  align-items: center;

  cursor: pointer;

  opacity: 1;
  animation: fade 1s;
}

.back_text {
  margin-left: 1rem;
}

#back_to_top:hover {
  background-color: var(--background_hover);
}

@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
