.card {
  display: flex;

  flex-direction: column;

  align-items: center;
  justify-content: center;

  height: 35vh;
  width: 20vw;

  min-width: 300px;
  min-height: 300px;

  background-color: var(--background);

  margin: 1rem;
}

.card_contents {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.card_text {
  padding-bottom: 1rem;
  text-align: center;
}

.card:hover {
  background-color: var(--background_hover);
}

.no_icon_text {
  font-size: 5rem;
  margin: 0;
  padding: 0;
}
