.container {
  min-width: 90px;
  min-height: 90px;

  max-width: 90px;
  max-height: 90px;

  background-color: var(--background);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin: auto 1rem;
}

.container,
.container label {
  cursor: pointer;
}

.container:hover {
  background-color: var(--link_color);
}

.checkbox {
  position: absolute;
  left: -9999vw;
}

input[type="checkbox"]:checked.checkbox + div {
  background-color: var(--background_hover);
}

input[type="checkbox"]:checked.checkbox + div:hover {
  background-color: var(--link_color);
}

.checkbox_label {
  width: 100%;
  text-align: center;
}
