.form_container {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;

  width: 50vw;
  height: 60vh;

  background-color: var(--background);

  padding: 3rem;
}

.form_element {
  margin-bottom: 1rem;
}

.form_element label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.form_element input,
.form_element textarea {
  display: block;
  width: 100%;
  height: 2rem;

  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text_theme);
  background-color: var(--input_bg);
  border: 1px solid var(--input_border);
  border-radius: 0;

  transition: border-color 0.15s, box-shadow 0.15s;
}

.form_element textarea {
  height: 5rem;
  resize: none;
  max-width: 100%;
}

.form_element input:focus,
.form_element textarea:focus {
  border-color: var(--background_hover);
  outline: none;
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.25);
}

.form button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;

  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  line-height: 1.5;
  border-radius: 0.25rem;

  width: 50%;
  margin: auto;
  cursor: pointer;

  margin-top: 1rem;

  background-color: var(--background_secondary);
  color: var(--text_light);
}

.form button:hover {
  background-color: var(--background_hover);
}

.form_header {
  padding-bottom: 0.5rem;
  margin: 0;
}
