:root {
  --text_light: #fff;     --text_dark: #333;
  --link_color: #39A2AE;  --link_color_hover: #ffea2e;

}

.light_theme {
  --link_color: #0F2027;  --link_color_hover: #FFDF00;

  --hero_bg: #21D4FD;
  --hero_gradient: linear-gradient(45deg, #21D4FD 0%, #B721FF 100%);

  --background: #EA526F;
  --background_hover: #006E90;

  --background_secondary: #254E70;

  --background_third: #fff;
  --text_theme: #333;

  --input_bg: #eee;
  --input_border: #ddd;
}

.dark_theme {
  --hero_bg: #0F2027;
  --hero_gradient: linear-gradient(45deg, #0F2027 0%, #203A43 50%, #2C5364 100%);

  --background: #426B69;
  --background_hover: #643173;

  --background_secondary: #29274C;

  --background_third: #29274C;
  --text_theme: #eee;

  --input_bg: #222;
  --input_border: #111;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;

  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  transition: background-color 300ms;
}

fieldset {
  border: none;
}

textarea {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

a {
  color: var(--link_color);
  transition: color 300ms;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: var(--link_color_hover);
}
