.profile_pic {
  max-width: 300px;
  max-height: 300px;
  height: auto;
  width: auto;

  margin-top: 2vh;
}

.header {
  font-size: 2.7em;
  margin-bottom: 0;
  text-align: center;
}

.subheader {
  max-width: 80vw;
  text-align: center;
  margin-bottom:
}

.card_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
}
