#language_selector {
  display: flex;
  flex-wrap: wrap;
}

#project_container {
  width: 100%;
  display: flex;
  margin-top: 10vh;

  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
}
