.card {
  width: 500px;
  height: 750px;

  display: flex;
  flex-direction: column;

  margin: 1rem;

  color: var(--text_theme);
  cursor: pointer;
}

.card:hover .card_header {
  margin-bottom: 20px;
}

.card:hover .card_body {
  height: calc(70% + 20px);
}

.card_header {
  width: 100%;
  height: 40%;
  position: relative;
  top: 0;
  transition: ease-in-out 200ms;

}

.card_header img {
  max-width: 500px;
  height: auto;
}

.card_body {
  width: 100%;
  height: 60%;
  background: var(--background_third);
  border-top: 10px solid #888;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: ease-in-out 200ms;
}

.card_content {
  width: 80%;
  height: 80%;
  position: relative;
}

.card_content h1 {
  font-size: 20px;
  font-weight: bold;
}

.card_content p {
  font-size: 14px;
  font-weight: normal;
}

.card_footer {
  display: flex;
}

.card_footer svg {
  margin: 1rem;
}

.grey_bg {
  min-width: 100%;
  min-height: calc(20% + 20px);
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: -20px;
  opacity: 0;
  transition: opacity 300ms;

  padding: 1rem;
  font-size: 0.7rem;
}

.grey_bg a {
  color: #fff;
}

.grey_bg a:hover {
  color: var(--link_color_hover);
}

.card_header:hover > div {
  opacity: 1;
}

@media only screen and (max-width: 499px) {
  .card {
    width: 350px;
    height: 500px;
  }

  .card_header img {
    max-width: 350px;
    height: auto;
  }

  .card_content h1 {
    font-size: 0.7rem;
  }

  .card_content p {
    font-size: .5rem;
  }
}
