.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.container h1 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.container h3 {
  font-size: 1.3rem;
  margin-top: 3rem;
}

.checkmark {
  width: 150px;
  height: 150px;

  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #7ac142;

  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;

}

.circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes stroke-circle {
  0% {
    fill: none;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #7ac142;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
