#theme_toggler {
  position: fixed;
  top: 20px;
  right: 20px;
  overflow: hidden;
  z-index: 999;
}

#theme_toggler input {
  position: absolute;
  left: -99em;
}

#theme_label {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 90px;
  height: 50px;
  background-color: #83d8ff;
  border-radius: 84px;
  transition: background-color .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#moon_craters {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 3px;
  left: 3px;
  width: 44px;
  height: 44px;
  background-color: #ffcf96;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
  transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
}

.crater {
  position: absolute;
  background-color: #e8cda5;
  opacity: 0;
  transition: opacity .2s ease-in-out;
  border-radius: 100%;
}

.crater1 {
  top: 18px;
  left: 10px;
  width: 4px;
  height: 4px;
}

.crater2 {
  top: 28px;
  left: 22px;
  width: 6px;
  height: 6px;
}

.crater3 {
  top: 10px;
  left: 25px;
  width: 8px;
  height: 8px;
}

.star {
  position: absolute;
  background-color: #fff;
  transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50px;
}

.star1 {
  top: 10px;
  left: 35px;
  z-index: 0;
  width: 30px;
  height: 3px;
}

.star2 {
  top: 18px;
  left: 28px;
  z-index: 1;
  width: 30px;
  height: 3px;
}

.star3 {
  top: 27px;
  left: 40px;
  z-index: 0;
  width: 30px;
  height: 3px;
}

.star4 {
  top: 16px;
  left: 11px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}
.star5 {
  top: 32px;
  left: 17px;
  z-index: 0;
  width: 3px;
  height: 3px;
  transform: translate3d(3px, 0, 0);
}
.star6 {
  top: 36px;
  left: 28px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

.star4,
.star5,
.star6 {
  opacity: 0;
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#theme_input:checked + label {
  background-color: #749dd6;
}

#theme_input:checked + label #moon_craters {
  background-color: #ffe5b5;
  transform: translate3d(40px, 0, 0) rotate(0);
}

#theme_input:checked + label #moon_craters .crater {
  opacity: 1;
}

#theme_input:checked + label .star1 {
  width: 2px;
  height: 2px;
}

#theme_input:checked + label .star2 {
  width: 4px;
  height: 4px;
  transform: translate3d(-5px, 0, 0);
}

#theme_input:checked + label .star3 {
  width: 2px;
  height: 2px;
  transform: translate3d(-7px, 0, 0);
}

#theme_input:checked + label .star4,
#theme_input:checked + label .star5,
#theme_input:checked + label .star6 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

#theme_input:checked + label .star4 {
  transition: all .3s .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#theme_input:checked + label .star5 {
  transition: all .3s .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#theme_input:checked + label .star6 {
  transition: all .3s .4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
