.hero {
  min-width: 100vw;
  min-height: 100vh;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  /*justify-content: center;*/

}

.hero {
  background-color: var(--hero_bg);
  background-image: var(--hero_gradient);

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.circle { border-radius: 50%; }               .justify_center { justify-content: center; }

.column { flex-direction: column; }           .row { flex-direction: row; }

.light_text { color: var(--text_light); }     .text_dark { color: var(--text_dark); }

.shadow { box-shadow: 0 8px 10px rgba(0,0,0,0.5); }

.border_light { border: 5px solid var(--text_light); }

.fa_icon { font-size: 40px; }

.padding { padding: 1rem; }

.anim_3s { animation-duration: 3s; }

.transparent { opacity: 0; }    .no_opacity { opacity: 1 !important; }

.font_normal { font-weight: 400; }

.text_center { text-align: center; }

.no_decoration, .no_decoration:hover { text-decoration: none; color: #fff; }
